<div class="main">

  <!-- threeDots -->
  <div class="three-dots-icon" (click)="toggleSidebar()">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="100" fill="currentColor"
      class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
      <path
        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
    </svg>
  </div>

  <!-- Sidebar -->
  <div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
    <ul>
      <li routerLink="/home">Home</li>

      <li routerlink="/podcast">Podcast</li>
      <li routerlink="/videos">Videos</li>
    </ul>
  </div>


  <img id="icons" src="assets/icon.png" alt="">

  <h3 id="logo">TuneTrail</h3>

  <div class="_a">


    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        All
      </button>

      <ul class="dropdown-menu custom-scroll" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let item of tracks; let i = index">
          <a class="dropdown-item" href="#" (click)="changeTrack(item.song, i); $event.stopPropagation();"
            [class.active]="i === selectedIndex">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>




    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Trending Songs
      </button>

      <ul class="dropdown-menu custom-scroll" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let item of tracks; let i = index">
          <a class="dropdown-item" href="#" (click)="changeTrack(item.song, i); $event.stopPropagation();"
            [class.active]="i === selectedIndex">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        New Songs
      </button>

      <ul class="dropdown-menu custom-scroll" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let item of tracks; let i = index">
          <a class="dropdown-item" href="#" (click)="changeTrack(item.song, i); $event.stopPropagation();"
            [class.active]="i === selectedIndex">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>



  </div>

<!-- 
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        All
      </button>

      <ul class="dropdown-menu custom-scroll" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let item of tracks; let i = index">
          <a class="dropdown-item" href="#" (click)="changeTrack(item.song, i); $event.stopPropagation();"
            [class.active]="i === selectedIndex">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div> -->

  <!-- <form class="srch" action="/search" method="GET"> -->
  <div class="dropdown">
    <input #nameInput type="text" placeholder="Search music" class="form-control" id="dropdownMenuButton1"(input)="search(nameInput.value)"
      autocomplete="off" />

    <ul class="dropdown-menu custom-scroll"  [class.show]="searchResults.length > 0" ria-labelledby="dropdownMenuButton1">
      <li *ngFor="let item of searchResults;let i = index">
        <a class="dropdown-item" href="#" (click)="onSongSelect(item, nameInput)" [class.active]="i === selectedIndex">
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>





  <button class="btn" href="#" role="button" routerLink="/auth">log out</button>
</div>