<div class="main">
  
  <div  class="all-song">
    <div *ngFor="let item of tracks; let i = index">
      <div [ngClass]="{'active' : selectedIndex === i}" (click)="changeTrack(item.song , i)">
        <div [class]="'toggle-item'">
          <p>
            <strong>{{ item.name }} </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  

  <!-- <div class="all-song">
    <div *ngFor="let item of tracks; let i = index">
      <div [ngClass]="{'active' : selectedIndex === i}" (click)="changeTrack(item.song , i)">
        <div [class]="'toggle-item'">
          <p>
            <strong>{{ item.name }} </strong>
          </p>
        </div>
      </div>
    </div>
  </div> -->




  <div class="container">
    <div class="cards">
      <img src="assets/music-boy.jpg" alt="image">

      <audio id="song" #song>
        <source [src]="musicTrack" type="audio/mpeg">
      </audio>
            
      <input type="range" value="0" id="progress" #progress (input)="updateSongTime($event)">

      <div class="controls">
        <div><i class="bi bi-skip-backward-fill fs-3" (click)="backwardSong()"></i></div>
        <div><i class="bi bi-play-fill fs-1" id="ctrlIcon" #ctrlIcon (click)="playPause()"></i></div>
        <div><i class="bi bi-skip-forward-fill fs-3"  (click)="forwardSong()"></i></div>
      </div>
    </div>
  </div>
</div>