  .main{
    display: flex;
    flex-direction: row;
  }
  
  .all-song{
    width: 700px;
    height: 100vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .active{
    background-color: skyblue;
  }
  .toggle-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .song-list p{
    cursor: pointer;
  }
  .toggle-item:hover{
    background-color: #ff5722;
  }

  .container {
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 200px;
  }
  .list-group{
    width: 400px;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
  }

  .cards img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  audio {
    display: none;
  }

  input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background: #444;
    height: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 10px 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ff5722;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .controls i {
    color: white;
    cursor: pointer;
    transition: 0.2s;
  }

  .controls i:hover {
    color: #ff5722;
  }